
<div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body">
				<div class="col-md-2 white-box">
					<h3>Patient Per Hour</h3>
					<hr />
					<div class="col-md-12 white-box" style="height: 80px;">
						<span><img src="plugins/images/user_black.png" height="30"
							width="30" /> <label><span
								th:text="${#lists.size(qform.nqueuelist)}"></span> in Queue</label></span>
					</div>

					<div class="col-md-12">
						<button class="btn btn-success" data-toggle="modal"
							data-target='#pateintperhour' data-whatever="@mdo"
							style="background-color: #ed552f; border-color: #ed552f; margin-bottom: 5px;">
							<i class="fa fa-check"></i> Control Patient Flow
						</button>
					</div>
				</div>
				<div class="col-md-2 white-box">
					<h3>Current Wait Time</h3>
					<hr />
					<div class="col-md-12 white-box" style="height: 80px;">
						<span> <span th:text="${waittime?.count}"></span> Minutes <label
							id="gwaittime"></label>

						</span>
					</div>

					<div class="col-md-12">
						<button class="btn btn-success" data-toggle="modal"
							data-target='#waittimeupdate' data-whatever="@mdo"
							style="background-color: #ed552f; border-color: #ed552f; margin-bottom: 5px;">
							<i class="fa fa-check"></i> Update Wait Time
						</button>
					</div>
				</div>
				<div class="col-md-4">
					<h3>Urgent Current Wait Time</h3>
					<hr />
					<div class="white-box">
						<div class="col-md-6 pull-left">
						<span style="font-size: 22pt">Urgent<span style="white-space: nowrap;font-size: 10pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Level III</span></span>
						<span style="font-size: 22pt">Stable<span style="white-space: nowrap;font-size: 10pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Level IV,V</span></span>
					</div>

					
					<div class="col-md-5  pull-left">
						<span style="font-size: 22pt"><img src = "plugins/images/down.png" height="50" width="50" />1:30</span>
						<span style="font-size: 22pt"><img src = "plugins/images/down.png" height="50" width="50" />2:50</span>
					</div>
					</div>
					
				</div>
				<div class="col-md-2">
					<h3>LWOT</h3>
					<hr />
					<div class="white-box">
						<div class="col-md-12" style="vertical-align: middle;">
						<span style="font-size: 22pt">LWOT</span><br/>
						<span style="font-size: 15pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</span><br/>
						<span style="font-size: 10pt">12-<span
											th:text="${#dates.format(#dates.createNow(), 'HH:mm a')}"></span></span>
					</div>

					
					
					</div>
					
				</div>
				
			</div>


			<div class="white-box">
				<div class="panel-body">
					<form th:action="@{/addQueueData}" method="post"
						modelAttribute="queuedata">
						<div class="form-body">
							<h3 class="box-title">Patient Queue Manager</h3>
							<input type="hidden" name="id" id="id" th:value="${queue?.id }" />
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">
										<label class="control-label">Name</label> <input type="text"
											id="pateintname" name="pateintname" class="form-control"
											required="required" placeholder="Name" />
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label class="control-label">Current Wait Time</label> <select
											class="form-control" name="assignedwaittime"
											id="assignedwaittime">
											<option value="0:30">30 Minutes</option>
											<option value="1:00">An Hour</option>
											<option value="1:30">90 Minutes</option>
											<option value="2:00">Two Hour</option>
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label class="control-label">Phone</label> <input
											type="number" id="mobile" name="mobile" class="form-control"
											required="required" placeholder="Contact" />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Symptoms</label> <select
											class="select2 m-b-10 select2-multiple" multiple="multiple"
											data-placeholder="Choose" id="symptom" name="symptom">
											<option th:each="s : ${sps}" th:value="${s.name}"
												th:text="${s.name}"
												th:selected="${s.name == nqueue?.symptom}" />
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label class="control-label">Triage</label> <select
											class="form-control" name="traige" id="traige">
											<option value="LevelV">Non Urgency</option>
											<option value="LevelIV">Less Urgency</option>
											<option value="LevelIII">Urgency</option>
											<option value="LevelII">Emergency</option>
										</select>
									</div>
								</div>
								<!--/span-->
							</div>

						</div>
						<div class="form-actions" align="right">
							<button type="submit" class="btn btn-success"
								style="background-color: #ed552f; border-color: #ed552f">
								<i class="fa fa-check"></i> Submit
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="white-box">
				<div class="panel-body">
					<form th:action="@{/updateNQueueData}" method="post"
						id="nqdataForm" modelAttribute="qform">
						<div class="table-responsive">
							<h3 class="box-title">New Patient Queue</h3>
							<table id="nqueuetable"
								class="table color-table primary-table color-bordered-table danger-bordered-table">
								<thead>
									<tr>
										<th>#</th>
										<th></th>
										<th></th>
										<th>Name</th>
										<th>Visit Time</th>
										<th>Wait Time</th>
										<th>Enter Time</th>
										<th>Symptoms</th>
										<th>Traige Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="nqueue,stat : ${qform.nqueuelist}">
										<td th:text="${stat.index + 1}"></td>
										<td width="12%" nowrap="nowrap"><select
											class="form-control select2"
											th:onchange="'updateNQData('+${nqueue.id}+')'"
											th:style="'background-color:' + ${nqueue?.statuscolor}"
											th:field="*{qform.nqueuelist[__${stat.index}__].status}">
												<option value="-1"></option>
												<option th:selected="${'YetToVisit' == nqueue?.status}"
													value="YetToVisit">Yet To Visit</option>
												<option th:selected="${'CheckedIn' == nqueue?.status}"
													value="CheckedIn">Checked In</option>
												<option th:selected="${'Treating' == nqueue?.status}"
													value="Treating">Treating</option>
												<option th:selected="${'Cancelled' == nqueue?.status}"
													value="Cancelled">Cancelled</option>
												<option th:selected="${'Reschedule' == nqueue?.status}"
													value="Reschedule">Reschedule</option>
												<option th:selected="${'Completed' == nqueue?.status}"
													value="Reschedule">Completed</option>
												<option th:selected="${'Referred' == nqueue?.status}"
													value="Referred">Referred</option>

										</select></td>
										<td width="12%"><select class="form-control select2"
											th:onchange="'updateNQData('+${nqueue.id}+')'"
											th:field="*{qform.nqueuelist[__${stat.index}__].providerid}">
												<option value="0">Choose</option>
												<option th:each="provider : ${providers}"
													th:value="${provider.id}"
													th:text="${provider.firstname} + ' ' + ${provider.lastname}"
													th:selected="${provider.id == nqueue?.providerid}" />
										</select></td>
										<td><input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].uniquereference}"
											th:value="${nqueue.uniquereference}" /> <input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].statuscolor}"
											th:value="${nqueue.statuscolor}" /> <input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].traigecolor}"
											th:value="${nqueue.traigecolor}" /> <input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].id}"
											th:value="${nqueue.id}" /> <input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].pateintid}"
											th:value="${nqueue.pateintid}" /> <input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].queueid}"
											th:value="${nqueue.queueid}" /> <input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].waittime}"
											th:value="${nqueue.waittime}" /> <input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].pateintname}"
											th:value="${nqueue.pateintname}" /> <span
											th:text="${nqueue.pateintname}"></span></td>
										<td><input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].visittime}"
											th:value="${nqueue.visittime}?${#dates.format(nqueue.visittime, 'MM/dd/yyyy hh:mm')}:''" />
											<span
											th:text="${nqueue.visittime}?${#dates.format(nqueue.visittime, 'hh:mm')}:''"></span></td>
										<td><input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].assignedwaittime}"
											th:value="${nqueue.assignedwaittime}" /> <span
											th:text="${nqueue.assignedwaittime}"></span></td>
										<td><input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].entertime}"
											th:value="${nqueue.entertime}?${#dates.format(nqueue.entertime, 'MM/dd/yyyy hh:mm')}:''" />
											<span
											th:text="${nqueue.entertime}?${#dates.format(nqueue.entertime, 'hh:mm')}:''"></span></td>
										<td><input type="hidden"
											th:field="*{qform.nqueuelist[__${stat.index}__].symptom}"
											th:value="${nqueue.symptom}" /> <span
											th:text="${nqueue.symptom}"></span></td>
										<td><select class="form-control select2"
											th:onchange="'updateNQData('+${nqueue.id}+')'"
											th:field="*{qform.nqueuelist[__${stat.index}__].traige}"
											th:style="'background-color:' + ${nqueue?.traigecolor}">
												<option value="-1"></option>
												<option th:selected="${'LevelV' == nqueue?.traige}"
													value="LevelV">Non Urgency</option>
												<option th:selected="${'LevelIV' == nqueue?.traige}"
													value="LevelIV">Less Urgency</option>
												<option th:selected="${'LevelIII' == nqueue?.traige}"
													value="LevelIII">Urgency</option>
												<option th:selected="${'LevelII' == nqueue?.traige}"
													value="LevelII">Emergency</option>
										</select></td>
										<td><button type="button" class="btn btn-info"
												th:onclick="${'message(' + nqueue.id + ');'}">
												<i class="ti-email"></i>
											</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
			<div class="white-box">
				<div class="panel-body">
					<form th:action="@{/updateTQueueData}" method="post"
						id="tqdataForm" modelAttribute="qform">
						<div class="table-responsive">
							<h3 class="box-title">Treatment Queue</h3>
							<table id="tqueuetable"
								class="table color-table primary-table color-bordered-table danger-bordered-table">
								<thead>
									<tr>
										<th>#</th>
										<th></th>
										<th></th>
										<th>Name</th>
										<th>Visit Time</th>
										<th>Wait Time</th>
										<th>Enter Time</th>
										<th>Symtomps</th>
										<th>Treatment</th>
										<th>Remarks</th>
										<th>Referred</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="nqueue,stat : ${qform.tqueuelist}">
										<td th:text="${stat.index + 1}"></td>
										<td width="12%" nowrap="nowrap"><select
											th:onchange="'updateTQData('+${nqueue.id}+')'"
											class="form-control select2"
											th:style="'background-color:' + ${nqueue?.statuscolor}"
											th:field="*{qform.tqueuelist[__${stat.index}__].status}">
												<option value="-1"></option>
												<option th:selected="${'YetToVisit' == nqueue?.status}"
													value="YetToVisit">Yet To Visit</option>
												<option th:selected="${'CheckedIn' == nqueue?.status}"
													value="CheckedIn">Checked In</option>
												<option th:selected="${'Treating' == nqueue?.status}"
													value="Treating">Treating</option>
												<option th:selected="${'Cancelled' == nqueue?.status}"
													value="Cancelled">Cancelled</option>
												<option th:selected="${'Reschedule' == nqueue?.status}"
													value="Reschedule">Reschedule</option>
												<option th:selected="${'Completed' == nqueue?.status}"
													value="Completed">Completed</option>
												<option th:selected="${'Referred' == nqueue?.status}"
													value="Referred">Referred</option>
										</select></td>
										<td width="12%"><select class="form-control select2"
											th:onchange="'updateTQData('+${nqueue.id}+')'"
											th:field="*{qform.tqueuelist[__${stat.index}__].providerid}">
												<option value="0">Choose</option>
												<option th:each="provider : ${providers}"
													th:value="${provider.id}"
													th:text="${provider.firstname} + ' ' + ${provider.lastname}"
													th:selected="${provider.id == nqueue?.providerid}" />
										</select></td>
										<td><input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].uniquereference}"
											th:value="${nqueue.uniquereference}" /> <input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].statuscolor}"
											th:value="${nqueue.statuscolor}" /> <input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].traigecolor}"
											th:value="${nqueue.traigecolor}" /> <input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].traige}"
											th:value="${nqueue.traige}" /> <input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].traigecolor}"
											th:value="${nqueue.traigecolor}" /> <input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].id}"
											th:value="${nqueue.id}" /> <input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].pateintid}"
											th:value="${nqueue.pateintid}" /> <input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].queueid}"
											th:value="${nqueue.queueid}" /> <input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].waittime}"
											th:value="${nqueue.waittime}" /> <input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].pateintname}"
											th:value="${nqueue.pateintname}" />
											<button type="button" class="btn btn-primary"
												style="background-color: #ed552f; width: 100%"
												data-toggle="modal"
												th:attr="data-target='#patientquere'+${nqueue.pateintid }"
												data-whatever="@mdo">
												<span th:text="${nqueue.pateintname}"></span>
											</button></td>
										<td><input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].visittime}"
											th:value="${nqueue.visittime}" /> <span
											th:text="${#dates.format(nqueue.visittime, 'hh:mm a')}"></span></td>
										<td><input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].assignedwaittime}"
											th:value="${nqueue.assignedwaittime}" /> <span
											th:text="${nqueue.assignedwaittime}"></span></td>
										<td><input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].entertime}"
											th:value="${nqueue.entertime}" /> <span
											th:text="${nqueue.entertime}?${#dates.format(nqueue.entertime, 'hh:mm a')}:''"></span></td>
										<td><input type="hidden"
											th:field="*{qform.tqueuelist[__${stat.index}__].symptom}"
											th:value="${nqueue.symptom}" /> <span
											th:text="${nqueue.symptom}"></span></td>

										<td width="5%"><select class="form-control select2"
											th:value="${{treatment}}"
											th:field="*{qform.tqueuelist[__${stat.index}__].treatment}">
												<option value="0">Choose</option>
												<option th:each="treatment : ${ts}"
													th:value="${treatment.name}" th:text="${treatment.name}"
													th:selected="${treatment.name == nqueue?.treatment}" />
										</select></td>

										<td><input type="text" class="form-control"
											th:onchange="'updateTQData('+${nqueue.id}+')'"
											th:field="*{qform.tqueuelist[__${stat.index}__].remarks}"
											th:value="${nqueue.remarks}" /></td>

										<td><select class="form-control select2"
											th:onchange="'updateTQData('+${nqueue.id}+')'"
											th:field="*{qform.tqueuelist[__${stat.index}__].referred}">
												<option value="0">Choose</option>
												<option th:selected="${'LevelV' == nqueue?.referred}"
													value="PCP">PCP</option>
												<option th:selected="${'LevelIV' == nqueue?.referred}"
													value="Lab">Lab</option>
										</select></td>
										<td><button type="button" class="btn btn-info"
												th:onclick="${'message(' + nqueue.id + ');'}">
												<i class="fa fa-pencil"></i>
											</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>

		</div>


	</div>
	<div>
		<div th:each="pp : ${pps}">
			<div class="modal fade  bs-example-modal-lg"
				th:id="${'patientquere' + pp.id}" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel1">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h2 class="modal-title" id="exampleModalLabel1">Patient Q ER</h2>
							<div>
								<h3 class="modal-title">
									Patient: <span th:text="${pp.firstname} + ' ' + ${pp.lastname}"></span>
								</h3>
								<h4 class="modal-title">
									Confirmation: <span th:text="${pp.reference}"></span>
								</h4>
							</div>

						</div>
						<div class="modal-body">
							<div class="col-md-6">
								<button type="button"
									th:onclick="${'show(pateintinfo'+ pp.id + ');hide(providerinfo'+ pp.id + ')'}"
									class="btn btn-danger waves-effect text-center"
									style="width: 100%; font-size: 12pt">Visit</button>
							</div>
							<div class="col-md-6">
								<button type="button"
									th:onclick="${'hide(pateintinfo'+ pp.id + ');show(providerinfo'+ pp.id + ')'}"
									class="btn btn-info waves-effect text-center"
									style="width: 100%; font-size: 12pt">Provider Notes</button>
							</div>
							<div class="col-md-12" th:id="${'pateintinfo' + pp.id}">
								<div class="col-md-4">
									<h3 class="modal-title">Patient Information</h3>
									<p class="text-left">
										<span th:text="${pp.firstname} + ' ' + ${pp.lastname}"></span>
										<br /> <span th:text="${pp.address}"></span> <br /> <span
											th:text="${pp.city}"></span> <br /> <span
											th:text="${pp.zip}"></span> <br /> <span
											th:text="${pp.email}"></span> <br /> <span
											th:text="${pp.mobile}"></span>
									</p>

									<h3 class="modal-title">Emergency Information</h3>
									<p class="text-left">
										<span th:text="${pp.emergencyname} "></span> <br /> <span
											th:text="${pp.emergencycontact}"></span> <br />
									</p>
									<h3 class="modal-title">Allergies</h3>
									<p>
										<span th:text="${pp.allergies}"></span>
									</p>
								</div>

								<div class="col-md-4">
									<h3 class="modal-title">Wait Time</h3>
									<p>
										<span th:text="${pp.waittime}"></span>
									</p>
									<h3 class="modal-title">Diagnosis</h3>
									<span th:text="${pp.treatment}"></span>
									<h3 class="modal-title">Symptoms</h3>
									<p>
										<span th:text="${pp.symptoms}"></span>
									</p>
								</div>
								<div class="col-md-4">
									<h3 class="modal-title">Last Visit</h3>
									<span th:text="${pp.lastdatevisit}"></span>
									<h3 class="modal-title">Treatment Time</h3>
									<span th:text="${pp.waittime}"></span>
									<h3 class="modal-title">Discharge</h3>
									<span th:text="${pp.dispatchtime}"></span>
								</div>
							</div>
							<div class="col-md-12" th:id="${'providerinfo' + pp.id}"
								style="display: none;">
								<div class="col-md-6">
									<h3 class="modal-title">Provider Information</h3>
									<p class="text-left">
										<span th:text="${pp.providename}"></span> <br /> <br /> <span
											th:text="${pp.provideremail}"></span> <br /> <span
											th:text="${pp.providercontact}"></span> <br />
									</p>
								</div>
								<div class="col-md-6">
									<h3 class="modal-title">Notes</h3>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="pull-left">
								<h4 align="left"></h4>

							</div>
						</div>
					</div>
					<script>
						function show(id) {

							id.style.display = '';
						}
						function hide(id) {
							id.style.display = 'none';
						}
					</script>
				</div>
			</div>
		</div>

	</div>

	<div>
		<div class="modal fade  bs-example-modal-lg" id="pateintperhour"
			tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h2 class="modal-title" id="exampleModalLabel1">Update Visits</h2>
					</div>

					<div class="modal-body">
						<form th:action="@{/updatePateintPerHour}" method="post"
							modelAttribute="patientperhour">
							<div class="form-body">
								<input type="hidden" name="id" id="id"
									th:value="${patientperhour?.id }" /> <input type="hidden"
									name="currentdate" id="currentdate"
									th:value="${patientperhour?.currentdate }" />
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Number of Visit Per Hour</label>
											<select class="form-control select2" name="count" id="count">
												<option value="30">30 Visits</option>
												<option value="20">20 Visits</option>
												<option value="10">10 Visits</option>
												<option value="5">5 Visits</option>
												<option value="2">2 Visits</option>
											</select>
										</div>
									</div>
									<!--/span-->
								</div>

							</div>
							<div class="form-actions" align="center">
								<button type="submit" class="btn btn-success"
									style="background-color: #ed552f; border-color: #ed552f">
									<i class="fa fa-check"></i> Save
								</button>
								<button type="reset" class="btn btn-success"
									style="background-color: #ed552f; border-color: #ed552f"
									data-dismiss="modal">
									<i class="fa fa-check"></i> Cancel
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="modal fade  bs-example-modal-lg" id="waittimeupdate"
			tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h2 class="modal-title" id="exampleModalLabel1">Update
							Current Wait Time</h2>
					</div>

					<div class="modal-body">
						<form th:action="@{/updateWaitTime}" method="post"
							modelAttribute="waittime">
							<div class="form-body">
								<input type="hidden" name="id" id="id"
									th:value="${waittime?.id }" /> <input type="hidden"
									name="currentdate" id="currentdate"
									th:value="${waittime?.currentdate }" />
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Current Wait Time</label> <select
												class="form-control select2" name="count" id="count">
												<option value="30">30 Minutes</option>
												<option value="60">60 Minutes</option>
												<option value="120">120 Minutes</option>
												<option value="180">180 Minutes</option>
											</select>
										</div>
									</div>
									<!--/span-->
								</div>

							</div>
							<div class="form-actions" align="center">
								<button type="submit" class="btn btn-success"
									style="background-color: #ed552f; border-color: #ed552f">
									<i class="fa fa-check"></i> Save
								</button>
								<button type="reset" class="btn btn-success"
									style="background-color: #ed552f; border-color: #ed552f"
									data-dismiss="modal">
									<i class="fa fa-check"></i> Cancel
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="visibility: hidden;">
		<table id="waittimetable" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ls : ${waittimes}">
					<td th:text="${ls.count}"></td>
				</tr>
			</tbody>
		</table>
	</div>



	<!-- /.right-sidebar -->
</div>

<style>
.color-table.primary-table thead th {
	background-color: #5d97b2;
	border-color: #ed552f;
}
</style>

<script>
	
	//<![CDATA[
	document.addEventListener("DOMContentLoaded", function(event) {
		waittimeGraph();
		

	
		
		
	});
	
	function waittimeGraph() {
		var array = [];
		var oTable = document.getElementById('waittimetable');
		var rowLength = oTable.rows.length;
		for (i = 1; i < rowLength; i++) {
			var oCells = oTable.rows.item(i).cells;
			var cellLength = oCells.length;
			array.push(oCells.item(0).innerHTML);
		}
		$("#gwaittime").sparkline(array, {
		    type: 'line', width: '200',
		    height: '50'});
	}
	function editQueue(id) {
		document.getElementById('id').value = id;
		document.forms[0].action = "/editQueue";
		document.forms[0].submit();
	}

	function updateNQData(id) {
		document.forms[1].action = '/updateNQueueData?id=' + id;
		document.forms[1].submit();
	}
	function updateTQData(id) {
		document.forms[2].action = '/updateTQueueData?id=' + id;
		document.forms[2].submit();
	}

	$(document).ready(function() {
		$(".select3").select2();
		$('.selectpicker').selectpicker();
	});
	//]]>
</script>

